@media screen and (max-width: 630px) {

    header {
        background: url('../images/header.jpg') no-repeat center center;
        background-size: cover;
    }

    /* MENU HAMBURGUER */
    header nav#nav_esquerda {
        justify-content: space-between;
    }

    header nav#nav_esquerda ul#icone_menu {
        display: flex;
    }

    header nav#nav_esquerda ul#icone_menu li#menuX {
        display: none;
    }


    /* MENU */
    header nav#nav_esquerda ul.menu_principal {
        flex-direction: column;
        width: 50%;
        height: 40vh;
        padding-top: .5rem;
        position: absolute;
        top: 9.3rem;
        right: 0;
        z-index: 999;
        border-radius: 10px;
        display: none;
        transition: height 5s ease, padding-top 0.5s ease;
        /* Animação suave */
    }

    header nav#nav_esquerda ul.menu_principal li {
        margin: 0.5rem;
        margin-left: 1rem;
        
        border-radius: 10px;
        transition: background-color 5s ease;
        /* Animação de hover suave */
    }

    header nav#nav_esquerda ul.menu_principal li a {
        font-size: 150%;
    }

    /* FOOTER */
    #footer-content {
        flex-direction: column;
        align-items: center;
    }

    #logo-footer img {
        width: 150px; /* Reduzir a logo em telas menores */
    }

    #contato-footer a {
        display: block;
        margin: 10px 0; /* Adicionar espaçamento entre os links */
    }

    .footer-list h3 {
        font-size: 20px; /* Ajustar tamanho das fontes */
    }

    .footer-link {
        font-size: 18px; /* Reduzir o tamanho da fonte dos links */
    }
}
