/* Cores Personalizadas */
:root {
    --cor-primaria: #0c0c64;
    --cor-secundaria: #223059;
    --cor-terciaria: #415AA6;
    --cor-quarta: #354B8C;
    --cor-quinta: #F21667;
}


/* Padronizar os textos */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: max(44px, 5.2vw);
    color: #2d3748; /* Cor escura neutra, como um tom de cinza escuro */
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: max(20px, 2.8vw);
    color: #4a5568; /* Um cinza mais claro para diferenciar do h1 */
}



/* Estilos do Header */
header {
    max-width: 100%;
    height: 95vh;
    background: url('../images/header.jpg') no-repeat center center/cover;
}

/* Navbar */
header nav#nav_esquerda {
    width: 100%;
    height: 150px;
    background-color: #0c0c64;
    display: flex;
    align-items: center;
}

/* Logo */
header nav#nav_esquerda div#logo {
    max-width: 200px;
    max-height: 240px;
    margin-left: 5rem;
}

header nav#nav_esquerda div#logo img {
    max-width: 100%;
    max-height: 100%;
}

/* Menu Hamburger */
header nav#nav_esquerda ul#icone_menu {
    display: none;
    /* Oculte o menu padrão */
}

header nav#nav_esquerda ul#icone_menu li {
    list-style: none;
}

header nav#nav_esquerda ul#icone_menu li ion-icon {
    font-size: 80px;
    color: rgb(255, 255, 255);
    margin-right: 2rem;
}

/* Menu Principal */
header nav#nav_esquerda ul.menu_principal {
    margin-left: 2rem;
    display: flex;
    flex-flow: row wrap;
}

header nav#nav_esquerda ul.menu_principal li {
    list-style: none;
    margin-right: 2rem;
}

header nav#nav_esquerda ul.menu_principal li a {
    text-decoration: none;
    color: aliceblue;
    font-size: 200%;
    text-shadow: 4px 6px 10px #000;
    padding-bottom: 10px;
    transition: opacity 0.3s, border-bottom 0.3s;
    /* Adiciona transições suaves */
}

header nav#nav_esquerda ul.menu_principal li a:hover {
    opacity: 0.6;
    border-bottom: 1px solid #fff;
}

/* MENU HOME */
section.menuhome {
    max-width: 100%;
    padding: 40px;
    padding-bottom: 40px;
    margin-bottom: 20px;
    text-align: center;
}

section.menuhome div.container h2 {
    font-size: max(22px, 1.9vw);
    margin-top: 10px;
}
/* ABOUT US*/
section.aboutus div{
    background-color:#0c0c64;
}


section.aboutus p{
    color: #dee2e6;
}



/*FOOTER */
footer {
    background-color: #0c0c64;
    /* Fundo claro para contraste */
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    border-top: 2px solid #dee2e6;

}

#logo-footer img {
    width: 200px;
    /* Ajuste do tamanho da logo */
    height: auto;
    margin-bottom: 20px;
}

#footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#contato-footer {
    text-align: center;
}

#contato-footer a {
    display: inline-block;
    margin: 10 10px;
    color: #007bff;
    text-decoration: none;
    transition: 0.8s;
}

#contato-footer a:hover {
    color: #0056b3;
}

#contato-footer svg {
    width: 24px;
    /* Ajuste da largura */
    height: 24px;
    /* Ajuste da altura */
    display: flex;
}


.footer-list {
    list-style: none;
    padding: 0;
}
#contato-footer {
  flex: 1;
  text-align: center;
  color: #dee2e6;
}


.footer-list h3 {
    font-size: 12px;
    margin-bottom: 10px;
    color: #ebeef1;
}

.footer-link {
    color: #ebeef1;
    text-decoration: none;
}

.footer-link:hover {
    color: #007bff;
}

p {
    margin-top: 20px;
    font-size: 14px;
    color: #6c757d;
}

ul li {
    margin-bottom: 20px; /* Aumenta a distância entre os itens */
  }
  